/* Sidebar.css */

.sidebar {
    height: 100vh;
    width: 200px; /* Adjust as needed */
    background-color: #f0f0f0; /* Light gray */
    padding: 10px;
    border-right: 1px solid #ddd; /* Optional border */
  }
  
  .menu-item {
    padding: 8px;
    font-size: 14px;
    color: black;
    cursor: pointer;
    text-align: end;
  }
  
  .menu-item:hover {
    background-color: #e0e0e0; /* Highlight on hover */
  }
  .menu-item.selected {
    background-color: rgb(184, 90, 90); /* Highlight on hover */
  }
  
  .menu-item.highlighted {
    background-color: red;
    color: white;
    font-weight: bold;
    text-align: end;
  }

  
  .menu-item.selected {
    background-color: rgba(239, 79, 79, 0.749); /* Change to red */
    color: white;
  }
  