/* TopBar.css */

.top-bar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow for depth */
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 5rem; /* Adjust size as needed */
    margin-right: 10px;
  }
  
  .logo-o {
    color: red;
  }
  
  .logo-x {
    color: #00bcd4; /* Cyan or aqua color */
    font-weight: bold;
  }
  
  .logo-g {
    color: yellow;
  }
  
  .Nav-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    width:30rem
  }
  .exit-button {
    background-color: red; /* Example: Red background */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  .ext-btn{
    width: 100%;
    display: flex
;
    justify-content: end;
  }
  